@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-main: #1E293B;
}



body {
  color: rgb(var(--foreground-rgb));
  background: #0F172A;
}

.nav-link{
  margin: 5px 8px ;
  padding: 5px 16px;
}

.nav-link:hover{
  margin: 5px 8px ;
  background-color: white;
  color: var(--foreground-main);
  padding: 5px 16px;
  border-radius: 20px;
}

.nav-link-logo{
 font-size: large;
 font-weight: bold;
}

.nav-link2{
  padding: 5px 16px;
  margin: 5px 8px ;
  background-color: white;
  color: var(--foreground-main);
  border-radius: 20px;

}
.nav-link2:hover{

  border-radius: 8px;
}
