 

body {
 background: #f5f6f7;
 color: #eee;;
 font-family: Helvetica;
 margin: 0;
}

header {
 width: 100%;
 height: 60px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 top: 0;
 background: #f5f6f7;
  z-index: 1;
}
  
nav {
  width: 50%;
  max-width: 300px;
  font-family: 'Roboto', sans-serif; 

}
  
nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}
  
nav > ul > li {
  color: #000;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}
  
nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}
  
li > a {
  color: inherit;
  text-decoration: none;
}

#header-img {
  width: max(250px, 18vw);
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}
/* ----------main---------- */

main {
  padding-top: 80px;
}

h2 {
 color: #000;
 text-align: center;
 font-size: 1.5rem;
  font-family: 'Roboto', sans-serif; 


}

form{
  text-align: center;
}

#email{
  text-align: center;
  width: 250px;
  height: 20px;
  padding: 5px;
  text-align: left;
}

#submit{
  margin-top: 10px;
  font-weight: bold;
  padding: 10px;
  bottom: 14px;
  height: 40px;
  background-color: rgb(255, 200, 0);
  font-size: 1rem;
  border: none;
    cursor: pointer;
     transition: background-color 0.5s ease;
}

#submit:hover{
  background-color: rgb(255, 119, 0);
}

.feature-row {
display: flex;
flex-direction: row;
margin: 40px auto 0 auto;
width: 70%;

}

.feature-column {
color: #000;
text-align: right;
   margin-left: 40px;

}

.fa{

  color: rgb(255, 119, 0);
  font-size: small;
  width: 40px;
  height: 50px;
  /* margin: 0 3rem 0 0; */
  padding: 0 30px ;
}


.feature-column > h2{
  font-family: 'Roboto', sans-serif; 
  margin: 0 0 5px 0;
    text-align: left;
  font-size: 1.3rem;
}
.feature-column > p{
  margin: 0;
  text-align: left;
}

#how-it-work-video{
  width: 100%;
  align-items: center;
  margin: auto;
   /* border: 5px solid green; */

}

#how-it-work-video > iframe{
text-align: center;
display: flex;
justify-content: center;
  margin: 50px auto;
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 600px) {
 #how-it-work-video > iframe{
display: flex;
align-items: center;
border: 3px solid;
justify-content: center;
  margin: 50px auto;
  width: 350px;
  height: 250px;
}
}

#pricing{
  display: grid;
  margin: auto;
  width: 1000px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
 #pricing{
  width: 350px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}
}

.pricing-column{
  margin: 10px ;
   border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  align-items: center;
   position: relative;
}
.pricing-title{
  width: 100%;
  text-align: center;
  margin: 0;
  height: 50px;
  padding: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(212, 212, 212);
}
.pricing-price{
  color: #000;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.pricing-desc{
  color: #000;
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 1.5;

}

.pricing-select-btn{
  position: absolute;
  bottom: 14px;
  left: 50%;
  width: 100px;
  height: 50px;
  background-color: rgb(255, 200, 0);
  font-size: 1.125rem;
  border: none;
  transform: translateX(-50%);
    cursor: pointer;
     transition: background-color 0.5s ease;
}
.pricing-select-btn:hover{
  background-color: rgb(255, 119, 0);
}


/* ----------footer---------- */

  footer {
    margin-top: 30px;
  background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    color: gray;


  }
  
  footer a {
    color: #000;
    text-decoration: none;
    margin: 10px;
  }

  #footer-copyright{
    margin-top: 10px;
    display: block;
  }