body {
  background-color: rgb(245, 240, 220);
}

#main {
  display: flex;
  flex-direction: row;
  padding: 0rem 2rem;
}

#users-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.user-item {
  border: solid 3px transparent;
  margin: 8px;
  background-color: white;
  padding: 0px 25px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(193, 193, 159);
}

.user-item:hover {
  box-shadow: 0 0 4px rgb(188, 188, 78);
}
.user-item:active {
  border: 3px solid rgb(255, 208, 0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.424);
}

#posts-container {
  background-color: rgba(255, 255, 255, 0.562);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  height: 100vh;
  padding: 5px;
}

.post-item {
  margin: 12px 22px;
  background-color: white;
  padding: 0px 25px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(193, 193, 159, 0.492);
}
